body {
        background-color:   #70a5f5;
}


.jumbotron {
    background-color: white;
	font-family: "Alegreya SC";
	color: black;
}

.display-4 {
	font-family: ;
}

hr {
background-color: white;
}